This notebook is collected from [Here](https://github.com/krishnaik06/Complete-Python-Bootcamp/tree/main).

#### Functions in Python
Video Outline:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [ ]:
## syntax
def function_name(parameters):
    """_summary_

    Args:
        parameters (_type_): _description_

    Returns:
        _type_: _description_
    """
    # Function body
    return expression

In [19]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [20]:
def even_or_odd(num):
    """_summary_

    Args:
        num (_type_): _description_
    """
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [22]:
## Call this function
even_or_odd(23)

the number is odd

In [23]:
## function with multiple parameters

def add(a,b):
    """_summary_

    Args:
        a (_type_): _description_
        b (_type_): _description_

    Returns:
        _type_: _description_
    """
    return a+b

result=add(2,4)
print(result)

6

In [25]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise")

greet("Max")

Hello Max Welcome To the paradise

In [27]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("Max")

Hello Max Welcome To the paradise

In [1]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*krish):
    for number in krish:
        print(number)

In [2]:
print_numbers(1,2,3,4,5,6,7,8,"Shaiful")

1
2
3
4
5
6
7
8
Shaiful

In [33]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [34]:
print_numbers(1,2,3,4,5,6,7,8,"Shaiful")

1
2
3
4
5
6
7
8
Shaiful

In [35]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [36]:
print_details(name="Shaiful",age="30",country="BD")

name:Shaiful
age:30
country:BD

In [2]:
ls1 = [1,2,3,4,5]
ls1.insert(2,100)

In [37]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [15]:
print_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Krish
name:Krish
age:32
country:India

In [38]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [17]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)